.quote-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 20px;
    width: 1200px;
  }
.h1list{
    font-size: 34px;
    font-weight: bold;
    padding-left: 20px;
}
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .page-button {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.2s;
  }
  
  .page-button:hover {
    background-color: #ddd;
  }
  
  .page-button.active {
    background-color: #4CAF50;
    color: white;
  }
  